@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
}

/* GRID LAYOUT */

body{
    display: grid;
    height: 100vh;
    grid-template-areas: 
        " header"
        " main"
        " footer"
    ;

    grid-template-rows: 105px auto 45px;
    grid-template-columns: auto;
}

/* HEADER */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
    background-color: black;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

/* .menu__flex{
    display: flex;
} */

ul li{
    display: inline;
}

ul li a{
    font-size: 1em;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Antonio', sans-serif;
}

.logo{
    position: absolute;
    padding-top: 100px;
}
.logo:hover{
    animation: mover 0.5s;
    animation-iteration-count: infinite;
}
@keyframes mover{
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -1px) rotate(0deg);
    }
    20% {
        transform: translate(-2px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(2px, 1px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(0deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(0deg);
    }
    60% {
        transform: translate(-2px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(2px, 1px) rotate(0deg);
    }
    80% {
        transform: translate(-1px, 1px) rotate(-1deg);
    }
    90% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }    
}

/* TRANCISIONES */

.menu__items{
    text-align: center;
    padding-top: 15px;
    width: 80px;
    height: 50px;
    transition: all 2s;
}

.menu__items:hover{
    background-color: darkslateblue;
    border-radius: 10px;
    transform: scale(1deg,1deg);
}


/* MAIN */

.main{
    grid-area: main;
    background-image: url(./recursos/FotoFondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main__flexbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.h1Titulo{
    font-family: 'Alex Brush', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 160px;
    mix-blend-mode: hard-light;
    color: #ffffff;
    text-shadow: 7px 8px 0px rgba(191, 178, 178, 0.31);
}

.section__descripcion{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 38px;
    background-image: url(./recursos/barra.png);
    background-size: cover;
}


.descripcion{
    font-size: 1.5em;
    color: #ffffff;
    font-family: 'Antonio', sans-serif;
}

/* MAIN GALERIA */

.fondo{
    grid-area: main;
    background-image: url(./recursos/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main__grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 380px;
    padding: 20px;
    grid-gap: 10px;
}

.imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* MAIN ARTISTAS */


.artistas__flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 50px;
    gap: 20px;
}

.artistas__imangen{
    width: 300px;
    height: 300px;
}

.artistas__texto{
    font-size: 1.5em;
    color: #ffffff;
    font-family: 'Antonio', sans-serif;
    text-align: center;
}

/* MAIN UBICACION */


.ubicacion__flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 120px;
}

.ubicacion__article{
    background-color: black;
    width: 220px;
    height: 100px;
}

.ubicacion__texto{
    font-size: 1.5em;
    color: #ffffff;
    font-family: 'Antonio', sans-serif;
    text-align: center;
    margin-top: 32px;
}

/* MAIN CONTACTO */

.form__flex{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.form__text{
    font-size: 1.5em;
    color: #ffffff;
    font-family: 'Antonio', sans-serif;
    text-align: center;
}

/* FOOTER */

.footer{
    grid-area: footer;
    background-color: black;
}

.footer__flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__texto{
    font-size: 1.5em;
    color: #ffffff;
    font-family: 'Antonio', sans-serif;
}

@media screen and (max-width:900px){
    .menu{
        flex-direction: column;
        gap: 0px;
    }

    .menu:nth-of-type(1){
        position: absolute;
        margin-right: 350px;
        gap: 10px;
        padding-bottom: 10px;
    }

    .menu:nth-of-type(3){
        position: absolute;
        margin-left: 350px;
        gap: 10px;
        padding-bottom: 10px;
    }

    .h1Titulo{
        text-align: center;
    }

    .descripcion{
        text-align: center;
    }

    .section__descripcion{
        height: 100px;
    }

    .article{
        height: 100px;
    }
}

